@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Discover music and producers that suits your needs</h1>
	<form class="mb-5 row">
		<div class="mx-auto col-lg-8 d-flex">
			<input class="form-control me-2">
			<button type="submit" class="btn btn-primary">Search</button>
		</div>
	</form>
	<!--<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
		<div class="col mb-3">
			<img class="img-fluid" src="https://cdn.vectorstock.com/i/500p/55/02/sound-wave-abstract-music-pulse-background-audio-vector-23665502.jpg" alt="Sound wave"/>
			<audio class="w-100" controls>
				<source src="audio/nightfall-future-bass.mp3" type="audio/mpeg"/>
			</audio>
		</div>
	</div>-->
	<div class="row">
		<div class="col col-lg-8 mx-auto">
			<table class="table table-hover mx-auto text-end">
				<tbody>
					<tr>
						<td class="d-flex justify-content-between align-items-center">
							<button class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="grey" d="M19.105 11.446a2.34 2.34 0 0 1-.21 1c-.15.332-.38.62-.67.84l-9.65 7.51a2.3 2.3 0 0 1-1.17.46h-.23a2.2 2.2 0 0 1-1-.24a2.29 2.29 0 0 1-1.28-2v-14a2.2 2.2 0 0 1 .33-1.17a2.27 2.27 0 0 1 2.05-1.1c.412.02.812.148 1.16.37l9.66 6.44c.294.204.54.47.72.78c.19.34.29.721.29 1.11" /></svg></button>
							<div class="text-secondary">03:45</div>
							<div class="me-3 d-inline flex-grow-1"><span class="text-secondary">Robert Smith - </span>Country road</div>
						</td>
					</tr>
					<tr>
						<td class="d-flex justify-content-between align-items-center">
							<button class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="grey" d="M19.105 11.446a2.34 2.34 0 0 1-.21 1c-.15.332-.38.62-.67.84l-9.65 7.51a2.3 2.3 0 0 1-1.17.46h-.23a2.2 2.2 0 0 1-1-.24a2.29 2.29 0 0 1-1.28-2v-14a2.2 2.2 0 0 1 .33-1.17a2.27 2.27 0 0 1 2.05-1.1c.412.02.812.148 1.16.37l9.66 6.44c.294.204.54.47.72.78c.19.34.29.721.29 1.11" /></svg></button>
							<div class="text-secondary">03:45</div>
							<div class="me-3 d-inline flex-grow-1"><span class="text-secondary">gamerguy64 - </span>Over yonder</div>
						</td>
					</tr>
					<tr>
						<td class="d-flex justify-content-between align-items-center">
							<button class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="grey" d="M19.105 11.446a2.34 2.34 0 0 1-.21 1c-.15.332-.38.62-.67.84l-9.65 7.51a2.3 2.3 0 0 1-1.17.46h-.23a2.2 2.2 0 0 1-1-.24a2.29 2.29 0 0 1-1.28-2v-14a2.2 2.2 0 0 1 .33-1.17a2.27 2.27 0 0 1 2.05-1.1c.412.02.812.148 1.16.37l9.66 6.44c.294.204.54.47.72.78c.19.34.29.721.29 1.11" /></svg></button>
							<div class="text-secondary">03:45</div>
							<div class="me-3 d-inline flex-grow-1"><span class="text-secondary">Katie - </span>Silent hill</div>
						</td>
					</tr>
					<tr>
						<td class="d-flex justify-content-between align-items-center">
							<button class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="grey" d="M19.105 11.446a2.34 2.34 0 0 1-.21 1c-.15.332-.38.62-.67.84l-9.65 7.51a2.3 2.3 0 0 1-1.17.46h-.23a2.2 2.2 0 0 1-1-.24a2.29 2.29 0 0 1-1.28-2v-14a2.2 2.2 0 0 1 .33-1.17a2.27 2.27 0 0 1 2.05-1.1c.412.02.812.148 1.16.37l9.66 6.44c.294.204.54.47.72.78c.19.34.29.721.29 1.11" /></svg></button>
							<div class="text-secondary">03:45</div>
							<div class="me-3 d-inline flex-grow-1"><span class="text-secondary">sadboo - </span>Crosswalks</div>
						</td>
					</tr>
					<tr>
						<td class="d-flex justify-content-between align-items-center">
							<button class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="grey" d="M19.105 11.446a2.34 2.34 0 0 1-.21 1c-.15.332-.38.62-.67.84l-9.65 7.51a2.3 2.3 0 0 1-1.17.46h-.23a2.2 2.2 0 0 1-1-.24a2.29 2.29 0 0 1-1.28-2v-14a2.2 2.2 0 0 1 .33-1.17a2.27 2.27 0 0 1 2.05-1.1c.412.02.812.148 1.16.37l9.66 6.44c.294.204.54.47.72.78c.19.34.29.721.29 1.11" /></svg></button>
							<div class="text-secondary">03:45</div>
							<div class="me-3 d-inline flex-grow-1"><span class="text-secondary">David Osterman - </span>Blue lagoon</div>
						</td>
					</tr>
					<tr>
						<td class="d-flex justify-content-between align-items-center">
							<button class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="grey" d="M19.105 11.446a2.34 2.34 0 0 1-.21 1c-.15.332-.38.62-.67.84l-9.65 7.51a2.3 2.3 0 0 1-1.17.46h-.23a2.2 2.2 0 0 1-1-.24a2.29 2.29 0 0 1-1.28-2v-14a2.2 2.2 0 0 1 .33-1.17a2.27 2.27 0 0 1 2.05-1.1c.412.02.812.148 1.16.37l9.66 6.44c.294.204.54.47.72.78c.19.34.29.721.29 1.11" /></svg></button>
							<div class="text-secondary">03:45</div>
							<div class="me-3 d-inline flex-grow-1"><span class="text-secondary">xXShotoXx - </span>Across the world</div>
						</td>
					</tr>
					<tr>
						<td class="d-flex justify-content-between align-items-center">
							<button class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="grey" d="M19.105 11.446a2.34 2.34 0 0 1-.21 1c-.15.332-.38.62-.67.84l-9.65 7.51a2.3 2.3 0 0 1-1.17.46h-.23a2.2 2.2 0 0 1-1-.24a2.29 2.29 0 0 1-1.28-2v-14a2.2 2.2 0 0 1 .33-1.17a2.27 2.27 0 0 1 2.05-1.1c.412.02.812.148 1.16.37l9.66 6.44c.294.204.54.47.72.78c.19.34.29.721.29 1.11" /></svg></button>
							<div class="text-secondary">03:45</div>
							<div class="me-3 d-inline flex-grow-1"><span class="text-secondary">technodude123 - </span>Fever dream</div>
						</td>
					</tr>
					<tr>
						<td class="d-flex justify-content-between align-items-center">
							<button class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="grey" d="M19.105 11.446a2.34 2.34 0 0 1-.21 1c-.15.332-.38.62-.67.84l-9.65 7.51a2.3 2.3 0 0 1-1.17.46h-.23a2.2 2.2 0 0 1-1-.24a2.29 2.29 0 0 1-1.28-2v-14a2.2 2.2 0 0 1 .33-1.17a2.27 2.27 0 0 1 2.05-1.1c.412.02.812.148 1.16.37l9.66 6.44c.294.204.54.47.72.78c.19.34.29.721.29 1.11" /></svg></button>
							<div class="text-secondary">03:45</div>
							<div class="me-3 d-inline flex-grow-1"><span class="text-secondary">Madhatter - </span>Nightmares</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
	<button class="btn text-secondary pt-2" style="font-size: 0.8em">Load more...</button>
</div>
