@page
@model Web.Pages.ProducersModel
@section Styles{
	<link rel="stylesheet" href="css/producers.css" />
}

<div class="d-flex">
	<div id="filter" class="fs-5 mt-5">
		<div id="filter-label">Filter by Genre</div>
		<div>
			<input type="checkbox" id="jazz" checked/>
			<label for="jazz">jazz</label>
		</div>
		<div>
			<input type="checkbox" id="country"/>
			<label for="country">country</label>
		</div>
		<div>
			<input type="checkbox" id="rock" checked/>
			<label for="rock">rock</label>
		</div>
		<div>
			<input type="checkbox" id="pop"/>
			<label for="pop">pop</label>
		</div>
		<div>
			<input type="checkbox" id="classical"/>
			<label for="classical">classical</label>
		</div>
		<div>
			<input type="checkbox" id="techno"/>
			<label for="techno">techno</label>
		</div>
		<div>
			<input type="checkbox" id="funk"/>
			<label for="funk">funk</label>
		</div>
		<div>
			<input type="checkbox" id="folk"/>
			<label for="folk">folk</label>
		</div>
	</div>
	<div class="row row-cols-2 row-cols-md-3 row-cols-md-4 w-100">
		@foreach (var user in Model.Users)
		{
			<a class="nav-link text-dark" asp-page="/Profile" asp-route-username="@user.UserName">
				<div class="mb-3 text-center">
					<img class="img-fluid mb-3" src="@Url.Content(user.PicturePath)" alt="Portrait" />
					<div class="fw-bold">@user.UserName</div>
				</div>
			</a>
		}
	</div>
</div>
