@page
@model Web.Pages.ProfileModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" />
}

<div class="d-flex align-items-start justify-content-between">
	<div id="services" class="border me-3">
		<div class="d-flex">
			<button class="btn btn-warning rounded-0 w-100">Basic</button>
			<button class="btn btn-secondary rounded-0 w-100">Standard</button>
			<button class="btn btn-secondary rounded-0 w-100">Custom</button>
		</div>
		<div class="p-3">
			<p id="service-description">High quality file, 5 minute track. You own the copyright to the produced song and may use it for any commercial purposes.</p>
			<div id="delivery-time">Delivery time: 3 Days</div>
		</div>
		<div class="d-flex justify-content-between p-3">
			<p class="fs-5">$20</p>
			<button class="btn btn-primary">Continue</button>
		</div>
	</div>
	<div id="bio">
		<div class="d-flex align-items-center mb-3">
			<img class="img-fluid" src="https://www.adobe.com/creativecloud/photography/discover/media_1211f0f1379c0ec7b3758e0970180a380cff91073.png?width=750&format=png&optimize=medium" alt="Portrait" />
			<p class="ms-3 fw-bold">Robert Smith</p>
		</div>
		<div class="p-3 border border-top-0">
			<p class="text-secondary">MUSIC STYLES: <span class="fw-bold">Jazz, Bossa Nova, Ambient</span></p>
			<p>As a music producer, I’m passionate about blending diverse genres to create fresh, innovative soundscapes. My production style leans on rich textures, deep rhythms, and melodic experimentation, and I’ve had the opportunity to work with both emerging and established artists across the industry. From hip-hop to electronic, I love pushing creative boundaries and helping craft songs that resonate with listeners, whether it's a chart-topping single or an underground hit.</p>
			<p>Music has always been at the heart of what I do, and I’m always exploring new sounds and collaborations to shape the future of the industry. I pride myself on my ability to fuse traditional elements with modern techniques, which has helped me grow as a dynamic force in music production. Whether in the studio or performing live, I bring energy and creativity to every project, and I’m always excited to connect with other artists to bring fresh ideas to life.</p>
		</div>
	</div>
</div>
