#services {
    width: 450px;
    word-break: break-word;
}

#bio {
    width: 650px;
    word-break: break-word;
}

#service-description {
    font-size: 1.1em;
}

#delivery-time {
    color: dimgray;
    font-weight: bold;
    text-align: right;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(50, 50, 50, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#overlay > div {
    background: white;
    width: 400px;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
